<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uchain.drugtracesystem.dao.OrdererMapper" >
  <resultMap id="BaseResultMap" type="com.uchain.drugtracesystem.model.domain.Orderer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderer_name" property="ordererName" jdbcType="VARCHAR" />
    <result column="orderer_location" property="ordererLocation" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.uchain.drugtracesystem.model.domain.Orderer" >
    insert into orderer (id, orderer_name, orderer_location
      )
    values (#{id,jdbcType=BIGINT}, #{ordererName,jdbcType=VARCHAR}, #{ordererLocation,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.uchain.drugtracesystem.model.domain.Orderer" >
    update orderer
    set orderer_name = #{ordererName,jdbcType=VARCHAR},
      orderer_location = #{ordererLocation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, orderer_name, orderer_location
    from orderer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, orderer_name, orderer_location
    from orderer
  </select>
</mapper>